<!DOCTYPE html>
<html ng-app="formation">
  <head>
    <title>Ajax</title>
    <meta charset="UTF-8">
    <script src="angular.js"></script>
  </head>
  <body>

    <div ng-controller="AjaxCtrl">
      <div ng-if="response">
        <p> {{ response}}</p>
        <ul>
          <li ng-repeat="arret in response.arrets">{{ arret }}</li>
        </ul>
        
      </div>
      <button ng-click="load()">Load</button>

      <div>
      <form>
        <p>
            Nom <input type="" name="" value="" ng-model="name">
            Téléphone <input type="text" ng-model="phone">
        </p>
          <p>
            <button ng-click="addUser($event)">Ajouter</button>
          </p>
      </form>
    </div>

    </div>


    <script>

        var app = angular.module('formation', []);

        app.controller('AjaxCtrl', function($scope, $http){
          $scope.load = function(){
            var promise = $http.get('/example/servicehttp/');
            promise.then(function(response){
              $scope.response = response.data
            })
          }

          $scope.addUser = function(e){
            console.log('adduser')
            e.preventDefault()
            var user = {
              'username': $scope.name,
              'phone': $scope.phone
            };

            console.log(user)
            var promise = $http.post('http://localhost:8080/contacts', user);
  
            promise.then(function(response){
              $scope.name = $scope.phone = "";
            }, function(data) {
              console.log(data)
            })
          }
        });

    </script>
  
  </body>
</html>