<!DOCTYPE html>
<html ng-app='myApp'>
  <head>
    <meta charset="utf-8" />
    <title>
        Player complexe
    </title>
    <script src="../js/angular.js"></script>

    <script>
    function onYouTubePlayerReady(){
        document.getElementById("ytplayer").playVideo();
    };

    angular.module('myApp', [])

    .provider('playList', function(){

        var defaultPlayList = [];

        this.setDefaultPlayList = function(list){
            defaultPlayList = list;
        };

        this.$get = function($sce, $rootScope) {

            var service = {};

            var embedUrl = 'https://www.youtube.com/v/{{id}}?version=3&enablejsapi=1';
            service.videos = defaultPlayList;
            service.currentVideo = "";
            service.addVideo = function(videoUrl){
                videoUrl = videoUrl || service.addedVideo;
                var res = /youtube\.com\/watch\?v=([^&]+)/.exec(videoUrl);
                var url = embedUrl.replace("{{id}}", res[1]);
                service.videos.push($sce.trustAsResourceUrl(url));
                service.addedVideo = "";
                if (service.videos.length == 1){
                    service.currentVideo = service.videos[0];
                }
            };
            service.playVideo = function(i){
                service.currentVideo = $sce.trustAsResourceUrl(service.videos[i]);
                $rootScope.$broadcast("videoStart", service.videos[i]);
            };

            return service;

        };
    })

    .factory('eventListener', function($rootScope){
        $rootScope.$on('videoStart', function(event, data){
            console.log('Video is playing :')
            console.log(event, data);
        });
    })

    .config(function(playListProvider){
        playListProvider.setDefaultPlayList([
            "https://www.youtube.com/v/Azq5IOrFtEI?version=3&enablejsapi=1",
        ]);
    })

    .controller('Controlleur', function($scope, playList, eventListener) {
        $scope.playList = playList;
    });

    </script>

</head>

<body  ng-controller="Controlleur">
    <div>
        <object width="640" height="360" ng-show="playList.currentVideo" >
          <param name="movie" value="https://www.youtube.com/v/M7lc1UVf-VE?version=3"></param>
          <param name="allowFullScreen" value="true"></param>
          <param name="allowScriptAccess" value="always"></param>
          <embed ng-src="{{playList.currentVideo}}"
                 type="application/x-shockwave-flash" allowfullscreen="true"
                 allowScriptAccess="always" width="640"
                 height="360" id="ytplayer"></embed>
        </object>
    </div>
    <div>
        <form ng-submit="playList.addVideo()" name="addVideoForm">
            <p>
                <input type="text" ng-model="playList.addedVideo"
                        name="urlField"
                       ng-pattern="/youtube\.com\/watch\?v=[^&]+/">
                <button>Add</button>
                <span ng-if="addVideoForm.urlField.$error.pattern">
                    L'url doit être de la forme "youtube.com/watch?v=xxxxx"
                </span>
            </p>
        </form>
        <ul>
            <li ng-repeat="video in playList.videos|filter:videoFilter">
                <a href="#" ng-click="playList.playVideo($index)">{{video}}</a>
            </li>
        </ul>
        <form>
            <p><label>Filtrer</label><input type="text" ng-model="videoFilter"></p>
        </form>
    </div>

</body>

</html>

</body>
</html>

